page-colors {
    .navButton{
        color: #5fa806;
    }
    .toolbar-background {
        background-color: #4e4e4e;
    
    }
    .toolbar-title {
        color:white;
    }
    ion-content{
        .spinner{
            text-align: center;
        }
    }
    .searchTerms{
        color: #5fa806;
    }
    .fabHighlight{
        background-color: #d7ffa5;
    }
    .toolbar .searchbar-ios .searchbar-input {
        background: #ffffff;
    }
}
