<ion-header>

  <ion-toolbar>
    <ion-title>Couleurs ({{ filteredColors?.length }})</ion-title>
    <ion-buttons right>
      <button class="navButton" ion-button icon-only (click)="addColor()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [showCancelButton]="true"
                  placeholder="Recherche"
                  (ionInput)="updateSearchTerm($event)"
                  (ionCancel)="initializeColors()">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding-top>
  <ion-refresher (ionRefresh)="loadColors($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="spinner" *ngIf="showSpinner">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let color of filteredColors" (click)="viewColor(color)">
      <h2>{{ color.Color_name }}</h2>
      <p>{{ color.Date | moment: 'L' }}</p>
      <p *ngIf="searching" class="searchTerms">{{ color.searchTerms }}</p>
    </ion-item>
  </ion-list>
</ion-content>
