<ion-header>

  <ion-navbar>
    <ion-title>Infos</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="saveColor()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Nom</ion-label>
      <ion-input placeholder="Entrer nom" [(ngModel)]="color.Color_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="color.Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Description</ion-label>
      <ion-textarea rows="3" placeholder="Entrer Description" [(ngModel)]="color.Color_description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Référence de la job</ion-label>
      <ion-input placeholder="Entrer référence de la job" [(ngModel)]="color.Job_ref"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Nom du Client</ion-label>
      <ion-input placeholder="Entrer nom du client" [(ngModel)]="color.Customer_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>PO du client</ion-label>
      <ion-input placeholder="Entrer PO du client" [(ngModel)]="color.PO_customer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Localisation</ion-label>
      <ion-input placeholder="Entrer localisation" [(ngModel)]="color.Localisation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Actif</ion-label>
      <ion-toggle [(ngModel)]="color.Actif"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Glaze</ion-label>
      <ion-toggle [(ngModel)]="color.Glaze"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
