page-view-color {
    .titreList{
        color: #BBBBBB;
    }
    .quantity{
        text-align: right;
    }
    .spinner{
        text-align: center;
    }
    ion-list-header{
        margin-bottom: 0px !important;
        h1{
            color: #5fa806;
        }
        ion-label{
            margin-bottom: 0px !important;
        }
        .addDetailButton{
            margin-left: 20px;
            color: #5fa806;
            font-size: 2.7rem;
            float: right;
        }
        .calculatorButton{
            color: #5fa806;
            font-size: 2.7rem;
            float: right;
        }
    }
    .addDetail{
        background-color: #d7ffa5;
        .input-cover{
            display: none;
        }
    }
    .quantiteInput{
        width: 30%;
        input{
            text-align: right;
        }
    }
    .detail{
        .item-inner{
            padding: 0px !important;
        }
        .editDetailButton{
            padding-left: 10px;
            font-size: 2.2rem;
            color: #a5a5a5;
        }
        .deleteDetailButton{
            padding-left: 10px;
            font-size: 2.2rem;
            color: #f53d3d;
        }
    }
    .highlight{
        background-color: #d7ffa5;
    }

    .oldQuantity{
        font-size: 2rem;
        color: #a5a5a5;
    }

    .newQuantity{
        .newQuantityArrow{
            color: #a5a5a5;
            font-size: 2rem;
        }
    }

    .reference{
        color: #5fa806;
    }

    .item-ios h1 {
        font-size: 2rem;
    }

    .descriptionItem{
        ion-textarea{
            textarea{
                text-align: right;
            }
        }
        ion-label{
            font-size: 1.6rem !important;
        }
        .item-inner{
            border-bottom-color: #ffffff !important;
            border-bottom: 1px solid #dedede !important;
            -webkit-box-shadow: inset 0 -1px 0 0 #ffffff !important;
            box-shadow: inset 0 -1px 0 0 #ffffff !important;
        }
    }
}
