<ion-header>

  <ion-navbar>
    <ion-title>{{ color?.Color_name }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="print()" *ngIf="!(calculating && !calculated) && !editDetails">
        <ion-icon name="print" color="primary"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPrompt('Supprimer')" *ngIf="!calculating">
        <ion-icon name="trash" color="danger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-row class="spinner" *ngIf="showSpinner">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-list *ngIf="!showSpinner">
    <ion-list-header>
      <h1>{{calculating && !calculated ? 'Sélectionner référence':'Recette'}}
        <ion-icon *ngIf="!editDetails && !calculating && noDetails" tappable class="addDetailButton" name="add-circle" (click)="toggleEditDetails()"></ion-icon>
        <ion-icon *ngIf="!editDetails && !calculating  && !noDetails" tappable class="addDetailButton" name="create" (click)="toggleEditDetails()"></ion-icon>
        <ion-icon *ngIf="editDetails  && !calculating" tappable class="addDetailButton" name="close-circle" (click)="toggleEditDetails()"></ion-icon>
        <ion-icon *ngIf="!editDetails  && !calculating  && !noDetails" tappable class="calculatorButton" name="calculator" (click)="toggleCalculator()"></ion-icon>
        <ion-icon *ngIf="!editDetails  && calculating  && !noDetails" tappable class="calculatorButton" name="close-circle" (click)="toggleCalculator()"></ion-icon>
      </h1>
    </ion-list-header>
    <ion-item *ngIf="editDetails" class="addDetail">
      <button *ngIf="!newDetail.product_ID" item-start ion-button small (click)="selectProduct()">Choisir produit</button>
      <button *ngIf="newDetail.product_ID" item-start ion-button small outline (click)="selectProduct()">Choisir produit</button>
      <ion-input class="quantiteInput" placeholder="Quantité" [(ngModel)]="newDetail.quantite" type="number"></ion-input>
      <ion-select [(ngModel)]="newDetail.unite" placeholder="Unité">
        <ion-option *ngFor="let unit of units">{{ unit }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="addDetail" *ngIf="editDetails && newDetail.product_ID">
      <ion-label>{{ newDetail.productName}}</ion-label>
      <button item-end ion-button small outline color="danger" *ngIf="editingDetail != ''" (click)="deleteDetail()">Supprimer</button>
      <button item-end ion-button small (click)="saveDetail()">{{ editingDetail ? 'Modifier': 'Ajouter' }}</button>
    </ion-item>
    <ion-item *ngFor="let detail of details; let i = index" [ngClass]="{'highlight': editingDetail == detail.Colordetail_ID}" class="detail" (click)="selectBase(detail)">
      <ion-row>
        <ion-col>
          <h2>{{ detail.product?.ProductNamestyl }}</h2>
          <p>{{ detail.product?.formule_type }}</p>
        </ion-col>
        <ion-col col-auto class="quantity">
          <h1 [ngClass]="{'oldQuantity': calculating && calculated}">
            {{ detail.quantite }} {{ detail.unite }} 
            <ion-icon *ngIf="editDetails && !detail.edit" class="editDetailButton" tappable name="create" (click)="toggleEditDetail(detail)"></ion-icon>
            <ion-icon *ngIf="editDetails && detail.edit" class="editDetailButton" tappable name="close-circle" (click)="toggleEditDetail(detail)"></ion-icon>
          </h1>
          <h1 *ngIf="calculating && calculated" class="newQuantity" [ngClass]="{'reference': detail.reference}">
            <ion-icon class="newQuantityArrow" tappable name="arrow-round-forward"></ion-icon>
            {{ detail.newQuantity | number: '1.0-2' }} {{ detail.unite }} 
          </h1>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-list-header *ngIf="!calculating">
      <h1>Info
        <ion-icon tappable class="addDetailButton" name="create" (click)="presentPrompt('Modifier')"></ion-icon>
      </h1>
    </ion-list-header>
    <ion-item *ngIf="!calculating">
      <ion-label class="titreList">Nom</ion-label>
      <div item-content>{{ color?.Color_name }}</div>
    </ion-item>
    <ion-item *ngIf="!calculating">
      <ion-label class="titreList">Date</ion-label>
      <div item-content>{{ color?.Date | moment: 'L' }}</div>
    </ion-item>
    <ion-item *ngIf="color?.Color_description && !calculating" class="descriptionItem">
      <ion-label class="titreList" stacked>Description</ion-label>
      <ion-textarea text-warp readonly [(ngModel)]="color.Color_description"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="color?.Job_ref && !calculating">
      <ion-label class="titreList">Job Ref</ion-label>
      <div item-content>{{ color?.Job_ref }}</div>
    </ion-item>
    <ion-item *ngIf="color?.Customer_name && !calculating">
      <ion-label class="titreList">Client</ion-label>
      <div item-content>{{ color?.Customer_name }}</div>
    </ion-item>
    <ion-item *ngIf="color?.PO_customer && !calculating">
      <ion-label class="titreList">PO Client</ion-label>
      <div item-content>{{ color?.PO_customer }}</div>
    </ion-item>
    <ion-item *ngIf="color?.Localisation && !calculating">
      <ion-label class="titreList">Localisation</ion-label>
      <div item-content>{{ color?.Localisation }}</div>
    </ion-item>
    <ion-item *ngIf="color?.Glaze && !calculating">
      <ion-label class="titreList">Glaze</ion-label>
      <div item-content>oui</div>
    </ion-item>
    <ion-item *ngIf="color?.Actif && !calculating">
      <ion-label class="titreList">Actif</ion-label>
      <div item-content>oui</div>
    </ion-item>
  </ion-list>
</ion-content>
