<ion-header>

  <ion-toolbar>
    <ion-title *ngIf="!selectMode">Produits ({{ filteredProducts?.length }})</ion-title>
    <ion-title *ngIf="selectMode">Choisir Produit</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [showCancelButton]="true"
                  placeholder="Recherche"
                  (ionInput)="searchProducts($event)"
                  (ionCancel)="initializeProducts()">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding-top>
  <ion-refresher (ionRefresh)="loadProducts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="spinner" *ngIf="showSpinner">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let product of filteredProducts" (click)="productClick(product)">
      <h2>{{ product.ProductNamestyl }}</h2>
      <p>{{ product.productNames_suppliers }}</p>
    </ion-item>
  </ion-list>
</ion-content>
