page-products {
    .toolbar-background {
        background-color: #4e4e4e;
    
    }
    .toolbar-title {
        color:white;
    }
    ion-content{
        .spinner{
            text-align: center;
        }
    }
}
